<h1><strong>Find flight deals around the world</strong></h1>
    <hr>
    <form>
            <div *ngIf="fromLocationTemplate">
                <label for=""><h3>From where:</h3></label>
                <input type="text" class="form-control" name="from" [(ngModel)]="from"     (keypress)="handleFromLocation()">
                <small>City or Airport search E.g. London</small>
                <div class="card mb-3 mt-3" *ngFor="let Location of fromLocation" (click)="handleOrigin(Location)">
                    <div class="card-header"><b>Name:</b> {{ Location.name }}</div>
                    <div class="card-body">City Name: {{ Location.address.cityName }}
                        <br>
                        Country Name: {{ Location.address.countryName }}
                    </div>
                    <div class="card-footer"><b>SubType:</b> {{ Location.subType }}</div>
                  </div>
            </div>
    </form>